<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Add a new file</h1>
        <form action="/addFile/<%= id %>" method="POST" enctype="multipart/form-data">
            <label for="file">Choose a file to upload:</label>
            <input type="file" id="file" name="file" required>
            
            <div class="button-group">
                <button type="submit">Upload</button>
                <a href="/dashboard?folderId=<%= id %>" class="button-link">Cancel</a>
            </div>
        </form>
        
        <!-- Add the drops for visual effect -->
        <div class="drops">
          <div class="drop drop-1"></div>
          <div class="drop drop-2"></div>
          <div class="drop drop-3"></div>
          <div class="drop drop-4"></div>
          <div class="drop drop-5"></div>
        </div>
    </div>
</body>
</html>